<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Login - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">

    <div>
        <img th:src="@{/images/ShopmeAdminBig.png}" class="img-fluid" />
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
        <div th:if="${param.error}"> <!--http://localhost:8080/ShopmeAdmin/login?error-->
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>

        <div th:if="${param.logout}"> <!--http://localhost:8080/ShopmeAdmin/login?logout-->
            <p class="text-warning">You have been logged out.</p>
        </div>

        <div class="border border-secondary rounded p-3">
            <p>Access to Shopme Control Panel</p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required />
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
            <!--
                   Q: How it works when we click login button?
                      And how will we compare the email with the password, then enter the index page?

                   A: The details of login process is done by Spring Security ,and we don't have to care about that.
                      We just create the login page, declare UserDetails and UserDetailService classes, and configure security.

                   Q: So th:action="{/login}" is this mandatory? why /login, can change to other or method="post" change to get?

                       th:action 用于定义后台控制器的路径，表单的提交地址，相当于<form>标签的action属性

                   A: Yes, The viewLoginPage() handles GET request /login, which shows the login page.
                       When you click Login button, it will send POST request /login to the server, which will be processed by Spring Security.
                       Same path /login but different HTTP methods (GET and POST).
            -->

            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember Me
                <!--
                    The name of the checkbox must be remember-me which is required by Spring Security.
                    The login page will look something like this:
                -->
            </p>


        </div>
    </form>

    <div>
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>

</div>
</body>
</html>